#intellij
/.idea
/.idea_modules
/*.iml
/out
/.project
/.classpath
/bin
/RUNNING_PID
/.settings

#sbt
project/project
project/target
libexec
target
.cache/
tmp
.history
dist


#scala
*.class
*.log
logs

.DS_Store

#vagrant
.vagrant

#Jekyll
/_site/
/Gemfile
/Gemfile.lock
/.java-version
